body {
  margin: 8px auto;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flexBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-justify {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-spacer {
  flex: 1;
}

@media screen and (min-width: 800px) {
  body {
    width: 80%;
  }
  .content {
    width: 100%;
  }
  .button-center {
    width: 150px;
    margin-left: 50%;
    position: relative;
    left: -75px;
  }
  .width-80 {
    width: 80%;
  }
  .width-60 {
    width: 60%;
  }
  .recorder {
    width: 100%;
  }
}

@media screen and (max-width: 799px) {
  body {
    width: 95%;
  }
  .content {
    width: 100%;
  }
  .button-center {
    width: 150px;
    margin-left: 50%;
    position: relative;
    left: -75px;
  }
  .recorder {
    width: 100%;
  }
}

.mdl-card {
  margin: 8px auto;
  padding: 8px;
}

.bar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 240px;
  z-index: -999;
}

.whiteText {
  color: white;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
